.add-cards {
  display: flexbox;
  flex-direction: column;
  align-items: center;
}

.main__form-add-tags {
  padding: 30vh 0;
}

.caratersleft {
  display: flexbox;
  align-self: flex-end;
  font-size: 10px;
  color: rgb(98, 90, 122);
}
