@import "./global.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-header__banner {
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  background-color: rgb(84, 188, 188);
  padding: 20px;
  border: 3px solid rgb(61, 36, 18);
  z-index: 1;
}

main {
  position: relative;
  top: 20vh;
}

.card {
  width: 70%;
  height: 40vh;
  margin: 10px;
  padding: 5px;
}
