@import "./global.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-header__banner {
  width: 100%;
  height: 15vh;
  position: fixed;
  /* top: 0; */
  background-color: rgb(84, 188, 188);
  padding: 20px;
  border: 3px solid rgb(61, 36, 18);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.main-header__banner__title {
  text-align: center;
  text-decoration: underline;
}
main {
  position: relative;
  /* top: 20vh; */
  padding: 20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  width: 70%;
  height: 50vh;
  margin: 10px;
  padding: 10px;
  border: solid 2px hotpink;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card__text {
  padding: 10px;
  text-align: center;
}

.card__tags-section__tag {
  border: solid 1px blueviolet;
  margin: 3px;
  border-radius: 3px;
}

.card__tags-section {
  display: flex;
  align-self: self-start;
  margin: 40px 0 0 0;
}

.card__button {
  width: 50%;
  height: 5vh;
  border: solid 1px cornflowerblue;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(32, 97, 162);
}

.card__button:hover {
  transform: scale(1.7);
}

.bookmark {
  position: absolute;
  top: -15px;
  right: 0;
  /* transform: translateY(-50%); */
}

.bookmark:hover {
  transform: scale(2, 2);
}

.footer__link {
  margin: 30px;
}

.footer__link:hover {
  transform: scale(1.5);
}

.footer__link--active {
  border: solid 2px green;
  padding: 10px;
  background-color: rgb(100, 152, 152);
}

footer {
  width: 100%;
  height: 15vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(84, 188, 188);
  padding: 20px;
  border: 3px solid rgb(61, 36, 18);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 600px) {
  .card {
    width: 50%;
    height: 40vh;
    padding: 20px;
  }
}
