@import "./variables.css";
@import "./components.css";
@import "./profilepage.css";
@import "./FormAddTags.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-Color);
}

.main-header__banner {
  width: 100%;
  height: 15vh;
  position: fixed;
  /* top: 0; */
  background-color: var(--main-color);
  padding: 20px;
  border: 3px solid var(--secondary-color);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.main-header__banner__title {
  text-align: center;
  text-decoration: underline;
  background-color: var(--main-color);
}
main {
  position: relative;
  /* top: 20vh; */
  padding: 20vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  width: 70%;
  height: 50vh;
  margin: 10px;
  padding: 10px;
  border: solid 6px var(--secondary-color);
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card__text {
  padding: 10px;
  text-align: center;
  background-color: var(--main-color);
}

.card__tags-section__tag {
  border: solid 3px var(--secondary-color);
  margin: 3px;
  border-radius: 3px;
  background-color: var(--main-color);
}

.card__tags-section {
  display: flex;
  gap: 8px;
  align-self: self-start;
  margin: 40px 0 0 0;
  background-color: var(--main-color);
}

.card__button {
  width: 50%;
  height: 5vh;
  border: solid var(--secondary-color);
  border-radius: 10px;
  margin: 10px;
  background-color: var(--third-color);
}

.card__button:hover {
  transform: scale(1.7);
}

.hidden {
  display: none;
}

.bookmark {
  position: absolute;
  top: -15px;
  right: 0;
  background-color: var(--main-color);
  /* transform: translateY(-50%); */
}

.bookmark:hover {
  transform: scale(2, 2);
}

.footer__link {
  margin: 30px;
}

.footer__link:hover {
  transform: scale(1.5);
}

.footer__link--active {
  border: solid 2px var(--third-color);
  padding: 10px;
  background-color: var(--fourth-color);
}

footer {
  width: 100%;
  height: 15vh;
  position: fixed;
  bottom: 0;
  background-color: var(--main-color);
  padding: 20px;
  border: 3px solid var(--secondary-color);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* This is styling for when the size of the page is bigger than 600px */

@media screen and (min-width: 600px) {
  .card {
    width: 30%;
    height: 50vh;
    padding: 20px;
  }
}
